body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Open Sans","Arial","Helvetica","Garuda", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
}

.App {
  text-align: center;
  background-color: #2c2a36;
  color: white;
}

.cardList {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 40px;
}

.cardList__title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 900;
}

.cardList__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  width: 600px;
  padding: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  background-color: white;
}

.card__link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.card__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.card__textblock {
  position: relative;
  flex-grow: 1;
  padding: 20px;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
}

.card__textblock::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  z-index: 1;
}

.card__row {
  display: flex;
  margin-top: 4px;
  margin-bottom: 6px;
}

.card__caption {
  width: 90px;
  flex-shrink: 0;
  font-weight: 600;
}

.button {
  display: block;
  text-decoration: none;
}

.button--details {
  display: block;
  padding: 4px 8px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #3eb5f1;
  color: black;

}

.card .button--details {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 2;
}
